.container__content {
    width: 100%;
    height: 100vh;

    margin-top: 20px;

    display: flex;
    flex-direction: column;

    align-items: center;
    
}

.content__cover img {
    width: 500px;
    min-width: 500px;
    
    box-shadow: 0px 0px 7px gray;
}

.content__title {
    margin: 0 30px;
    text-align: center;
}

.content__description {
    margin: 15px 0;
}
.content__description p {
    color: rgb(190, 190, 190);
    margin: 0 50px;
}

.button {
    border-radius: 5px;
    padding: 2px 5px;
}