<section [ngStyle]="{'width': width}" class="container__big-card">
    <div class="big-card__photo">
        <img src={{img_src}} alt="stock-image">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular!</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, nam? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum vitae quas voluptate quasi laboriosam molestias nesciunt eligendi suscipit non tenetur?
            </a>
        </p>
    </div>
</section>